* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
}

.wsp-float {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  right: 0;
  bottom: 0;
  width: 50px;
  position: fixed;
  height: 50px;
  background-color: #40db4d;
  margin-right: 25px;
  margin-bottom: 25px;
}

.btn_nav {
  padding: 0.3rem;
  border: none;
  background-color: transparent;
}

main {
  height: 100px;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-tittle {
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #3e3e3e;
  font-size: 2rem;
  font-weight: bolder;
}

.footer-dropdown {
  display: flex;
  padding: 20px;
  align-content: center;
  justify-content: space-between;
  background-color: #3e3e3e;
  color: white;
  border-bottom: 1px solid white;
  width: 100%;
  font-weight: bold;
  font-size: 0.8rem;
}
.footer-dropdown__text {
  align-items: center;
  width: 50%;
}
.footer-dropdown__icon {
  color: #40db4d;
}

.footer-btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.footer-btn__btn1 {
  width: 45%;
  color: #eee;
  padding: 15px;
  background-color: #37373f;
  border: transparent;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.footer-btn__btn2 {
  width: 45%;
  color: #eee;
  border: transparent;
  border-radius: 0.3rem;
  padding: 15px;
  font-size: 0.9rem;
  color: #37373f;
  font-weight: bold;
  background-color: #40db4d;
}

.footer-secondary {
  width: 100%;
  height: auto;
  padding: 25px 12px 12px 10px;
  background-color: #eeeeee;
}

.footer-contact {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background-color: #3e3e3e;
  color: #eeeeee;
}
.footer-contact__input {
  padding: 10px;
}
.footer-contact__input input {
  padding: 10px;
  width: 310%;
}
.footer-contact__p {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 20px;
}
.footer-contact__form {
  display: flex;
  width: 100%;
}
.footer-contact__form button {
  width: 100%;
  cursor: pointer;
  border-color: transparent;
  background-color: #40db4d;
}
.footer-contact__h6 {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-contact__h6 h6 {
  font-weight: 1000;
  font-size: 1rem;
}

.footer-atencion {
  width: 100%;
  padding: 10px;
  font-weight: 1000;
}
.footer-atencion h6 {
  color: #40db4d;
  font-size: 1rem;
  margin: 20px 0px;
}
.footer-atencion div {
  font-size: 0.9rem;
  height: 25px;
}
.footer-atencion p {
  font-size: 0.9rem;
  margin-top: 20px;
}

.footer-horario {
  font-weight: 1000;
  padding: 20px 12px 12px 10px;
}
.footer-horario h6 {
  color: #40db4d;
  font-size: 1rem;
}
.footer-horario p {
  font-size: 0.9rem;
  margin: 20px 0px;
}

.footer-redes {
  display: flex;
  width: 100%;
  align-items: center;
  height: 2rem;
  justify-content: space-around;
  height: 150px;
  margin-bottom: 40px;
}
.footer-redes__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #40db4d;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  color: white;
}

header {
  position: sticky;
  top: 0;
}

.head {
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  background-color: #05445E;
}
.head-list {
  display: flex;
  justify-content: center;
  width: 20%;
}
.head-list i {
  color: #40db4d;
}
.head-tittle {
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  color: white;
  width: 40%;
}
.head-menu {
  display: flex;
  color: grey;
  justify-content: space-around;
  width: 40%;
}

.navbar-mld {
  display: none;
  width: 75%;
  height: 100%;
  position: fixed;
  animation-name: girar;
  animation-duration: 0.7s;
  background-color: #eeeeee;
  transition: 0.5s;
  overflow: scroll;
}
.navbar-mld ul {
  padding: 10px;
  height: 100%;
}
.navbar-mld ul li {
  padding: 10px;
  list-style: none;
}
.navbar-mld ul li a {
  color: #eeeeee;
}

@keyframes girar {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
.divisor-navbar {
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 5px 0px;
}

/*# sourceMappingURL=styles.css.map */
